masks
images
dense
database.db
sparse
env
sparse_car
sparse_car_fixed
.idea/
.DS_Store
*.pyc
*.pack
.conda/
.venv/
*.conda
*.env
__pycache__/
*.py[cod]
.env
*.log
.ipynb_checkpoints/
.vscode/
*.MOV
*.mp4
*.bin
